h1 {
   font-family: 'Raleway', sans-serif;
   color: #545C59;
   padding: 20px 0 0 20px;
   text-align: center;
}
h2 {
   text-align: left;
}
h2 a {
   font-family: 'Bitter', serif;
   color: #111;
}
#layout {
   padding-left: 100px;
}
body {
   font-family: 'Roboto', sans-serif;
   -webkit-font-smoothing: antialiased;
   font-smoothing: antialiased;
   text-rendering: optimizeLegibility;
   vertical-align: baseline;
   font-size: 100%;
   color: #111;
}
div.item {
   padding-top: 1em;
}
div.inline div {
   display: inline-block;
}
p {
   text-indent: 2em;
   text-align: justify;
}
div.abstract {
   text-align: left;
   line-height: 1.5em;
   width: 540px;
   padding-right: 2em;
}
div.center {
   text-align: center;
   margin: 0 auto;
}
div.video{
   width: 420px;
   height: 315px;
}

div.keywords span {
   border: solid 1px #888;
   border-radius: 0.75em;
   background-color: #E4EDEA;
   padding: 0.25em 0.5em;
   font-size: 90%;
}
@media screen and (max-device-width: 480px), screen and (max-width: 480px) {
   div.abstract {
      width: 92%;
      padding-right: 0;
   }
   div#layout {
      width: 92%;
   }
}

@media screen and (max-device-width: 750px), screen and (max-width: 750px) {
   div.abstract {
      width: 92%;
      padding-right: 0;
   }
   div#layout {
      width: 92%;
   }
}

