<h1>Siggraph 2014 Paper</h1>
<div class="center">
   <div ng-repeat="paper in papers" class="item">
   <div class="inline">
      <div class="abstract">
   <h2><a ng-href="{{paper.link}}">{{paper.name}}</a></h2>
   <div class="keywords">
      <span>{{paper.session}}</span>
   </div>
      <p>
      {{paper.abstract}}
      </p>
      </div>
      <div>
   <div class="video">
   <iframe ng-show="paper.video !== undefined" width="100%" height="100%"
      ng-src="{{paper.video}}" frameborder="0" allowfullscreen>
   </iframe>
   </div>
   </div>
</div>
</div>
